html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* --------------------------------- */

/* --------------------- */
/*    General Styling    */
/* --------------------- */

html {
    font-size: 125%;
    scroll-behavior: smooth;
}

body,
input,
textarea {
    font-family: 'Noto Serif', serif;
}

header {
    height: 100vh;
    overflow: hidden;
}

header,
.skills,
.contact {
    background: url(./assets/lightPattern.png);
}

.about,
.portfolio {
    background: url(./assets/darkPattern.png);
}

h1,
h2,
h3,
h4,
a,
button,
.headText,
.title,
.iconName,
ul,
footer {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

h3,
h4,
.mobileNav a,
.headText,
.scrollDown,
.scrollUp,
.skillIcons,
.portfolio,
.myInfo,
footer {
    text-align: center;
}

h1,
h2,
.skills,
.skills a,
.skills .title,
.iconName,
.contact,
.contact .title,
a {
    color: #3E6B89;
}

h3 {
    font-size: 1.5rem;
    letter-spacing: 8px;
}

h4,
header a:hover,
header a:focus,
.about h3,
.about .headText,
.about a,
.skills a:hover,
.skills a:focus,
.portfolio h3,
.portfolio .scrollDown a,
.portfolio button,
.devTools,
.contact a:hover,
.contact a:focus {
    color: #3DD2CC;
}

p {
    font-size: 0.8rem;
    letter-spacing: 1.5px;
    line-height: 25px;
    margin: 0;
}

.profile,
.portfolio,
.portfolio .scrollDown a:hover,
.portfolio .scrollDown a:focus,
.about a:hover,
.about a:focus,
.title {
    color: #F5F5F5;
}

ul {
    display: flex;
    list-style-type: none;
}

a,
.socials i {
    text-decoration: none;
    transition: 0.3s;
}

img {
    display: block;
    max-width: 100%;
}

.bullet {
    background: #999;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin: 10px 30px 10px 0;
    width: 12px;
    transition: background 0.4s ease;
}

.about .bullet:hover,
.about .bullet:focus,
.about .bullet:active,
.portfolio .bullet:hover,
.portfolio .bullet:focus,
.portfolio .bullet:active,
.activeOnDark {
    background: #3DD2CC;
}

.skills .bullet:hover,
.skills .bullet:focus,
.skills .bullet:active,
.contact .bullet:hover,
.contact .bullet:focus,
.contact .bullet:active,
.activeOnLight {
    background: #3E6B89;
}

.wrapper {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}

.outerWrapper {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
}

.scrollDown i,
.scrollUp i {
    font-size: 3rem;
    padding: 10px;
    transition: 0.3s;
    transform: translateY(0);
    animation: hoverEffect 2.5s infinite linear;
}

@keyframes hoverEffect {
    30% {
        transform: translateY(30%);
    }
}

.skills h3::after,
.portfolio h3::after,
.contact h3::after {
    content: '';
    display: block;
    margin: 10px auto 0 auto;
    width: 80px;
}

.mobileNav,
.contact .socials,
.headerText,
.aboutContent,
.projectTitle,
.toggleArrows,
.sectionIndicator,
.tableOfContent,
.indicator {
    display: flex;
}

.hide {
    display: none;
}

.show {
    display: block;
}


/* ------------------------------ */
/*    Social Media Nav Styling    */
/* ------------------------------ */

.socials li {
    font-size: 2rem;
    margin-top: 30px;
    padding: 0 10px;
}

.socials p {
    padding-top: 20px;
}

.socials i:hover,
.socials i:focus {
    rotate: 10deg;
    transform: translateY(-20%);
}

.contact .socials {
    position: relative;
    justify-content: center;
    margin-bottom: 50px;
    z-index: 1;
}


/* ------------------------------ */
/*   Section Indicator Styling    */
/* ------------------------------ */

.sectionIndicator {
    justify-content: space-between;
    width: 100%;
}

.tableOfContent,
.indicator {
    flex-direction: column;
}

.about .tableOfContent {
    position: relative;
    top: -360px;
}

.skills .tableOfContent {
    position: relative;
    top: -380px;
}

.portfolio .tableOfContent {
    position: relative;
    top: -490px;
}

.contact .tableOfContent {
    position: relative;
    top: -425px;
}

.num {
    color: #999;
    font-size: 4rem;
    font-weight: bold;
    margin: 0 0 100px 0;
    position: relative;
}

.portfolio .num {
    left: -25px;
}

.num::after {
    border-left: 2px solid #999;
    content: '';
    height: 80px;
    left: 45px;
    position: absolute;
    top: 80px;
}

.portfolio .num::after {
    left: 65px;
}

.title {
    left: -5px;
    position: relative;
    top: 100px;
    transform: rotate(-90deg);
}

.skills .title {
    left: -12px;
}

.portfolio .title {
    left: -32px;
    top: 120px;
}

.contact .title {
    left: -16px;
}

.indicator {
    position: relative;
    top: -295px;
}

.skills .indicator {
    top: -310px;
}

.portfolio .indicator {
    top: -410px;
}

.contact .indicator {
    top: -355px;
}


/* ------------------------ */
/*    Mobile Nav Styling    */
/* ------------------------ */

.hamburger {
    display: none;
    position: relative;
}

.menu {
    background: none;
    border: none;
    color: #3E6B89;
    cursor: pointer;
    font-size: 1.8rem;
    outline: none;
    position: absolute;
    right: 0;
    top: 20px;
    transition: 0.3s;
}

.menu:hover,
.menu:focus {
    color: #3DD2CC;
}

.mobileNav {
    background: #F5F5F5;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    top: 70px;
    right: -100%;
    transition: all 400ms ease-in-out 0s;
    visibility: hidden;
    width: 150px;
    z-index: 8;
}

.mobileNav a {
    border-bottom: 1px solid #3E6B89;
    display: inline-block;
    font-size: 0.7rem;
    letter-spacing: 2px;
    padding: 10px;
    width: 100%;
}

.activeMenu {
    opacity: 1;
    right: 0;
    visibility: visible;
}


/* -------------------- */
/*    Header Styling    */
/* -------------------- */

.mainNav ul {
    font-size: 0.8rem;
    justify-content: flex-end;
    padding: 30px 0;
}

.mainNav li {
    padding: 0 20px;
}

.mainNav a {
    padding: 10px 15px;
}

.mainNav a:hover,
.mainNav a:focus {
    background: #F5F5F5;
    border-bottom: 2px solid #3DD2CC;
}

h1 {
    font-size: 5rem;
    letter-spacing: 10px;
    padding-top: 260px;
}

h2 {
    font-size: 2.2rem;
    letter-spacing: 5.3px;
}

.imgContainer1,
.imgContainer2 {
    position: relative;
}

.shiba {
    bottom: -20px;
    left: 750px;
    position: absolute;
    animation: wavingEffect 2s infinite linear;
}

.sparkle {
    bottom: 140px;
    left: 700px;
    position: absolute;
    transform: rotate(-20deg);
    width: 100px;
    animation: flashingEffect 2s infinite;
}

@keyframes wavingEffect {
    30% {
        transform: rotate(10deg);
    }
    60% {
        transform: rotate(-10deg);
    }
}

@keyframes flashingEffect {
    30% {
        opacity: 0;
    }
}

header .scrollDown {
    margin-top: 300px;
}


/* --------------------------- */
/*    About Section Styling    */
/* --------------------------- */

.about {
    padding: 130px 0 0px 0;
}

.aboutContent {
    justify-content: center;
}

.profile {
    margin-left: 50px;
    max-width: 100%;
    width: 750px;
}

.profile p {
    margin-bottom: 20px;
}

.profilePic img {
    border: 2px solid #999;
    width: auto;
}

.profile h3,
.headText {
    text-align: left;
}

.headText {
    letter-spacing: 3px;
    margin: 5px 0 40px 0;
}

.headText::after {
    border-bottom: 4px solid #3DD2CC;
    content: '';
    display: block;
    margin-top: 10px;
    width: 80px;
}

.about .scrollDown {
    margin-top: -100px;
    padding-bottom: 50px;
}


/* ----------------------------- */
/*    Toolkit Section Styling    */
/* ----------------------------- */

.skills h3 {
    padding: 100px 0 80px 0;
}

.skills h3::after,
.contact h3::after {
    border-bottom: 4px solid #3E6B89;
}

.skills i {
    font-size: 3rem;
}

.skillIcons {
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
}

.skillIcons li {
    margin: 0 auto;
    padding: 20px;
    width: 170px;
}

.skillIcons p {
    margin-top: 10px;
}

.skills .scrollDown {
    margin-top: -100px;
    padding-bottom: 50px;
}


/* ------------------------------- */
/*    Portfolio Section Styling    */
/* ------------------------------- */

.portfolio h3 {
    padding: 100px 0 50px 0;
}

.portfolio h3::after {
    border-bottom: 4px solid #3DD2CC;
}

.projectContainer {
    position: relative;
}

.project {
    max-width: 100%;
    width: 780px;
    position: relative;
    z-index: 2;
}

.project,
.project img {
    margin: 0 auto;
}

.project img {
    border: 2px solid #3DD2CC;
}

.projectTitle {
    justify-content: center;
    margin-bottom: 30px;
}

h4 {
    font-size: 1.3rem;
    margin: 40px 20px 0 0;
}

.links {
    margin: 40px 0 0 20px;
}

.project p {
    display: block;
    height: 105px;
}

.project a {
    background: #3DD2CC;
    color: #000;
    font-size: 0.8rem;
    margin: 0 5px;
    padding: 10px;
}

.project a i {
    color: #000;
}

.project a:hover,
.project a:focus {
    background: #F5F5F5;
}

.devTools {
    justify-content: center;
    margin: 30px 0 50px 0;
}

.devTools li {
    margin: 0 15px;
}

.devTools i {
    font-size: 2.5rem;
}

.dash {
    background: #999;
    cursor: pointer;
    height: 5px;
    width: 25px;
    display: inline-block;
    margin: 10px;
    transition: background 0.4s ease;
}

.dash:hover,
.dash:focus,
.dash:active,
.dashActive {
    background: #3DD2CC;
}

.toggleArrows {
    justify-content: space-between;
    position: absolute;
    top: 40%;
    width: 100%;
}

.arrowLeft,
.arrowRight {
    font-size: 4rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s ease;
    z-index: 1;
}

.arrowLeft:hover,
.arrowLeft:focus,
.arrowRight:hover,
.arrowRight:focus {
    color: #F5F5F5;
    animation: hoverArrow 1.5s infinite linear;
}

@keyframes hoverArrow {
    30% {
        transform: translateX(10%);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.fade {
    animation: fade 0.6s both;
}

.portfolio .scrollDown {
    margin-top: -120px;
    padding-bottom: 50px;
}


/* ----------------------------- */
/*    Contact Section Styling    */
/* ----------------------------- */

.contact h3 {
    padding: 100px 0 60px 0;
}

.myInfo {
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
}

form {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: 800px;
    z-index: 10;
}

.userInfo {
    display: flex;
    justify-content: space-between;
}

input,
textarea {
    background: #F5F5F5;
    border: none;
    border-bottom: 1px solid #3E6B89;
    color: #3E6B89;
    font-size: 0.8rem;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
}

input {
    width: calc(98% / 2);
}

.subject {
    width: 100%;
}

textarea {
    height: 160px;
    overflow: auto;
    resize: none;
    width: 100%;
}

.spamFilter {
    margin-bottom: 20px;
}

form button {
    background: #3E6B89;
    border: none;
    color: #F5F5F5;
    cursor: pointer;
    padding: 12px 40px;
    transition: 0.3s;
}

form button:hover,
form button:focus {
    background: #3DD2CC;
    color: #3E6B89;
}

.notice,
.emptyNotice {
    margin-top: 20px;
}

.contact .scrollUp {
    margin-top: -110px;
    padding-bottom: 50px;
}


/* -------------------- */
/*    Footer Styling    */
/* -------------------- */

footer {
    background: #F5F5F5;
    padding: 10px 0;
}

footer p {
    font-size: 0.6rem;
}


/* ------------------- */
/*    Media Queries    */
/* ------------------- */

@media (max-width: 1546px) {
    .profile {
        width: 600px;
    }

    .profilePic {
        margin-left: 30px;
        width: 28%;
    }

    .tableOfContent {
        margin-left: 20px;
    }

    .about .tableOfContent {
        top: -340px;
    }

    .portfolio .tableOfContent {
        top: -495px;
    }

    .indicator {
        top: -275px;
    }

    .arrowLeft {
        margin-left: 30px;
    }

    .arrowRight {
        margin-right: 30px;
    }
}

@media (max-width: 1230px) {
    .about .tableOfContent {
        top: -346px;
    }

    .skills .tableOfContent {
        top: -372px;
    }

    .portfolio .tableOfContent {
        margin-left: 10px;
        top: -487px;
    }

    .contact .tableOfContent {
        top: -422px;
    }

    .num {
        font-size: 3rem;
    }

    .num::after {
        left: 32px;
        top: 60px;
    }

    .title {
        left: -18px;
        top: 80px;
    }

    .skills .title {
        left: -25px;
    }

    .portfolio .title {
        top: 100px;
    }

    .contact .title {
        left: -28px;
        top: 90px;
    }

    .indicator {
        top: -288px;
    }

    .profile {
        margin-left: 30px;
        width: 550px;
    }
}

@media (max-width: 1055px) {
    .shiba {
        bottom: 15px;
        left: 720px;
        width: 150px;
    }

    .sparkle {
        bottom: 120px;
        left: 690px;
        width: 60px;
    }
}

@media (max-width: 1090px) {
    .portfolio .tableOfContent {
        top: -495px;
    }

    .portfolio .indicator {
        top: -418px;
    }

    .profile {
        width: 500px;
    }

    .project {
        max-width: 100%;
        width: 700px;
        z-index: 1;
    }
    
    .project img {
        width: 80%;
    }

    .projectTitle {
        margin-top: 60px;
    }

    .toggleArrows {
        justify-content: center;
        top: 255px;
    }

    .arrowLeft,
    .arrowRight {
        font-size: 3.4rem;
        margin: 0 20px;
    }

    .myInfo,
    form {
        width: 650px;
    }
}

@media (max-width: 950px) {
    h1,
    h2 {
        text-align: center;
    }

    h1 {
        padding-top: 330px;
    }

    .mainNav ul {
        justify-content: center;
    }

    .shiba,
    .sparkle {
        margin: 0 auto;
        position: relative;
    }
    
    .shiba {
        bottom: 390px;
        left: 0;
        width: auto;
    }

    .sparkle {
        bottom: 640px;
        left: -120px;
        width: 100px;
    }

    header .scrollDown {
        margin-top: -85px;
    }

    .sectionIndicator {
        display: none;
    }

    .aboutContent {
        flex-direction: column;
        align-items: center;
    }

    .about {
        padding-top: 100px;
    }
    
    .profile {
        margin: 30px 0 0 0;
        width: 800px;
    }

    .profile h3,
    .headText {
        text-align: center;
    }

    p.headText {
        margin-bottom: 50px;
    }

    .profilePic {
        margin-left: 0;
    }

    .headText::after {
        margin: 10px auto 0 auto;
    }

    .profilePic {
        width: auto;
    }

    .about .scrollDown {
        margin-top: 20px;
    }

    .skills .scrollDown {
        margin-top: 100px;
    }

    .portfolio h3 {
        padding: 100px 0 60px 0;
    }

    .project img {
        width: 100%;
    }

    .projectTitle {
        margin-top: 80px;
    }
    .project p {
        height: auto;
        margin-bottom: 20px;
    }

    .toggleArrows {
        top: 330px;
    }

    .portfolio .scrollDown {
        margin-top: 20px;
    }

    .myInfo,
    form {
        width: 800px;
    }

    .contact .scrollUp {
        margin-top: 80px;
    }
}

@media (max-width: 773px) {
    h1 {
        font-size: 4rem;
        padding-top: 350px;
    }
    
    h2 {
        font-size: 1.75rem;
    }

    .shiba {
        bottom: 350px;
        width: auto;
    }

    .sparkle {
        bottom: 600px;
    }

    header .scrollDown {
        margin-top: -75px;
    }

    .skills h3 {
        padding-bottom: 60px;
    }

    .skills .scrollDown {
        margin-top: 20px;
    }

    h4 {
        margin: 30px 0 0 0;
    }

    .project img {
        width: 550px;
    }
    
    .projectTitle {
        flex-direction: column;
    }

    .links {
        margin: 30px 0 0px 0;
    }

    .toggleArrows {
        top: 310px;
    }
}

@media (max-width: 644px) {
    h1 {
        font-size: 3rem;
        padding-top: 420px;
    }
    
    h2 {
        font-size: 1.3rem;
    }

    .mainNav ul {
        display: none;
    }

    .shiba {
        bottom: 280px;
        width: 180px;
    }

    .sparkle {
        bottom: 480px;
        left: -100px;
        width: 80px;
    }

    header .scrollDown {
        margin-top: 28px;
    }

    .hamburger {
        display: block;
    }

    .skills i {
        font-size: 2.6rem;
    }

    .iconName {
        font-size: 0.68rem;
        line-height: 20px;
    }

    .skillIcons li {
        padding: 20px 10px;
        width: 142px;
    }

    .skills .scrollDown {
        margin-top: 50px;
    }

    .project img {
        width: 480px;
    }

    .toggleArrows {
        top: 270px;
    }
}

@media (max-width: 600px) {
    .userInfo {
        align-items: center;
        flex-direction: column;
    }

    input {
        width: 100%;
    }

    .contact .scrollUp {
        margin-top: 20px;
    }
}

@media (max-width: 550px) {
    .project img {
        width: 400px;
    }

    h4 {
        font-size: 1rem;
    }

    .project a {
        font-size: 0.7rem;
    }

    .toggleArrows {
        top: 358px;
    }
}

@media (max-width: 515px) {
    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 0.88rem;
    }

    .shiba {
        bottom: 230px;
        width: 160px;
    }

    .sparkle {
        bottom: 400px;
        left: -85px;
        width: 60px;
    }

    header .scrollDown {
        margin-top: 100px;
    }
}

@media (max-width: 491px) {
    .iconName {
        font-size: 0.6rem;
    }

    .skillIcons li {
        padding: 20px 0;
        width: 130px;
    }
}

@media (max-width: 450px) {
    p,
    .socials p,
    button,
    input,
    textarea {
        font-size: 0.7rem;
    }

    .skills h3 {
        padding: 70px 0 50px 0;
    }

    .skillIcons li {
        padding: 10px 0;
    }

    .skills .scrollDown {
        margin-top: 20px;
    }

    .project img {
        width: 320px;
    }

    .toggleArrows {
        top: 288px;
    }
}

@media (max-width: 400px) {
    h3 {
        font-size: 1.2rem;
    }

    .socials p {
        letter-spacing: 1.3px;
    }

    .socials li {
        padding: 0 8px;
    }

    footer p {
        font-size: 0.5rem;
        letter-spacing: 1.2px;
    }
}

@media (max-width: 386px) {
    h1 {
        letter-spacing: 2px;
    }
    
    h2 {
        letter-spacing: 2px;
    }

    .shiba {
        bottom: 190px;
        width: 120px;
    }

    .sparkle {
        bottom: 320px;
        left: -65px;
        width: 50px;
    }

    header .scrollDown {
        margin-top: 150px;
    }
}

@media (max-width: 370px) {
    .project img {
        width: 270px;
    }

    .toggleArrows {
        top: 243px;
    }
}

/* Media Queries based on vh */

@media (min-height: 1280px) {
    header {
        height: auto;
    }

    h1 {
        margin-top: 50px;
    }

    header .scrollDown {
        margin-top: 0px;
        padding-bottom: 50px;
    }
}

@media (max-height: 900px) {
    header {
        height: auto;
    }
    
    h1 {
        padding-top: 200px;
    }
    
    header .scrollDown {
        margin-top: 200px;
        padding-bottom: 50px;
    }
}

@media (max-height: 850px) and (min-height: 801px) {
    h1 {
        padding-top: 300px;
    }

    header .scrollDown {
        margin-top: 0;
    }
}

@media (max-height: 768px) {
    h1 {
        padding-top: 180px;
    }

    header .scrollDown {
        margin-top: 150px;
    }
}

@media (max-height: 760px) {
    header {
        height: auto;
    }
    
    h1 {
        padding-top: 300px;
    }
    
    header .scrollDown {
        margin-top: 0px;
        padding-bottom: 50px;
    }
}


@media (max-height: 420px) {
    h1 {
        font-size: 2.8rem;
        padding-top: 120px;
    }

    h2 {
        font-size: 1.25rem;
    }

    .shiba {
        bottom: 210px;
        width: 120px;
    }

    .sparkle {
        bottom: 340px;
        left: -65px;
        width: 50px;
    }

    header .scrollDown {
        margin-top: -180px;
    }
}