html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* --------------------------------- */

/* --------------------- */
/*    General Styling    */
/* --------------------- */

html {
    font-size: 125%;
}

body,
input,
textarea {
    font-family: 'Noto Serif', serif;
}

header,
.skills,
.contact {
    background: url(./assets/lightPattern.png);
    height: 100vh;
}

.about,
.portfolio {
    background: url(./assets/darkPattern.png);
    height: 100vh;
}

h1,
h2,
h3,
h4,
a,
button,
.headText,
.title,
.iconName,
ul,
footer {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

h3,
h4,
.headText,
.scrollDown,
.scrollUp,
.skillIcons,
.portfolio,
.myInfo,
footer {
    text-align: center;
}

h1,
h2,
.skills,
.skills a,
.skills .title,
.iconName,
.contact,
.contact .title,
a {
    color: #3E6B89;
}

h3 {
    font-size: 1.5rem;
    letter-spacing: 8px;
}

h4,
header a:hover,
header a:focus,
.about h3,
.about .headText,
.about a,
.skills a:hover,
.skills a:focus,
.portfolio h3,
.portfolio .scrollDown a,
.portfolio button,
.devTools,
.contact a:hover,
.contact a:focus {
    color: #3DD2CC;
}

p {
    font-size: 0.8rem;
    letter-spacing: 1.5px;
    line-height: 25px;
    margin: 0;
}

.profile,
.portfolio,
.portfolio .scrollDown a:hover,
.portfolio .scrollDown a:focus,
.about a:hover,
.about a:focus,
.title {
    color: #F5F5F5;
}

ul {
    display: flex;
    list-style-type: none;
}

a,
.socials i {
    text-decoration: none;
    transition: 0.3s;
}

img {
    display: block;
    max-width: 100%;
}

.bullet {
    background: #999;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 12px;
    margin: 10px 30px 10px 0;
    width: 12px;
    transition: background 0.4s ease;
}

.about .bullet:hover,
.about .bullet:focus,
.about .bullet:active,
.portfolio .bullet:hover,
.portfolio .bullet:focus,
.portfolio .bullet:active,
.activeOnDark {
    background: #3DD2CC;
}

.skills .bullet:hover,
.skills .bullet:focus,
.skills .bullet:active,
.contact .bullet:hover,
.contact .bullet:focus,
.contact .bullet:active,
.activeOnLight {
    background: #3E6B89;
}

.wrapper {
    max-width: 1400px;
    width: 80%;
    margin: 0 auto;
}

.scrollDown i,
.scrollUp i {
    font-size: 3rem;
    padding: 10px;
    transition: 0.3s;
    transform: translateY(0);
    animation: hoverEffect 2.5s infinite linear;
}

@keyframes hoverEffect {
    30% {
        transform: translateY(30%);
    }
}

.skills h3::after,
.portfolio h3::after,
.contact h3::after {
    content: '';
    display: block;
    margin: 10px auto 0 auto;
    width: 80px;
}

.contact .socials,
.headerText,
.aboutContent,
.projectTitle,
.toggleArrows,
.sectionIndicator,
.tableOfContent,
.indicator {
    display: flex;
}

.hide {
    display: none;
}


/* ------------------------------ */
/*    Social Media Nav Styling    */
/* ------------------------------ */

.socials li {
    font-size: 2rem;
    margin-top: 50px;
    padding: 0 10px;
}

.socials p {
    padding-top: 20px;
}

.socials i:hover,
.socials i:focus {
    rotate: 10deg;
    transform: translateY(-20%);
}

.contact .socials {
    position: relative;
    justify-content: center;
    margin: -20px 0 50px 0;
    z-index: 1;
}


/* ------------------------------ */
/*   Section Indicator Styling    */
/* ------------------------------ */

.sectionIndicator {
    justify-content: space-between;
    position: relative;
    top: -50%;
}

.skills .sectionIndicator {
    top: -38%;
}

.contact .sectionIndicator {
    top: -42%;
}

.tableOfContent,
.indicator {
    flex-direction: column;
}

.num {
    color: #999;
    font-size: 4rem;
    font-weight: bold;
    margin: 0 0 100px 0;
    position: relative;
    left: 30px;
}

.portfolio .num {
    left: 0;
}

.num::after {
    border-left: 2px solid #999;
    content: '';
    height: 80px;
    left: 45px;
    position: absolute;
    top: 80px;
}

.portfolio .num::after {
    left: 65px;
}

.title {
    left: 25px;
    position: relative;
    top: 100px;
    transform: rotate(-90deg);
}

.skills .title {
    left: 20px;
}

.portfolio .title {
    left: -5px;
    top: 120px;
}

.contact .title {
    left: 14px;
}

.indicator {
    position: relative;
    top: 80px;
}


/* -------------------- */
/*    Header Styling    */
/* -------------------- */

.mainNav ul {
    font-size: 0.8rem;
    justify-content: flex-end;
    padding: 30px 0;
}

.mainNav li {
    padding: 0 20px;
}

.mainNav a {
    padding: 10px 15px;
}

.mainNav a:hover,
.mainNav a:focus {
    background: #F5F5F5;
    border-bottom: 2px solid #3DD2CC;
}

h1 {
    font-size: 5rem;
    letter-spacing: 10px;
    margin-top: 260px;
}

h2 {
    font-size: 2.2rem;
    letter-spacing: 5.3px;
}

header .scrollDown {
    margin: 16% auto 0 auto;
}


/* --------------------------- */
/*    About Section Styling    */
/* --------------------------- */

.about {
    padding: 180px 0 50px 0;
    position: relative;
}

.aboutContent {
    justify-content: center;
}

.profile {
    margin-left: 50px;
    width: 55%;
}

.profilePic {
    width: auto;
}

.profile h3,
.headText {
    text-align: left;
}

.headText {
    letter-spacing: 3px;
    margin: 5px 0 40px 0;
}

.headText::after {
    border-bottom: 4px solid #3DD2CC;
    content: '';
    display: block;
    margin-top: 10px;
    width: 80px;
}

.about .scrollDown {
    margin-top: -30px;
}


/* ----------------------------- */
/*    Toolkit Section Styling    */
/* ----------------------------- */

.skills h3 {
    padding: 150px 0 80px 0;
}

.skills h3::after,
.contact h3::after {
    border-bottom: 4px solid #3E6B89;
}

.skills i {
    font-size: 3rem;
}

.skillIcons {
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
}

.skillIcons li {
    margin: 0 auto;
    padding: 20px;
    width: 170px;
}

.skillIcons p {
    margin-top: 10px;
}

.skills .scrollDown {
    margin-top: -50px;
}


/* ------------------------------- */
/*    Portfolio Section Styling    */
/* ------------------------------- */

.portfolio h3 {
    padding: 70px 0 50px 0;
}

.portfolio h3::after {
    border-bottom: 4px solid #3DD2CC;
}

.projectContainer {
    position: relative;
}

.project {
    max-width: 100%;
    width: 900px;
}

.project,
.project img {
    margin: 0 auto;
}

.projectTitle {
    justify-content: center;
}

h4 {
    font-size: 1.3rem;
    margin: 40px 20px 0 0;
}

.project a {
    background: #3DD2CC;
    color: #000;
    font-size: 0.8rem;
    margin: 34px 10px 20px 0;
    padding: 10px;
    z-index: 10;
}

.project a i {
    color: #000;
}

.project a:hover,
.project a:focus {
    background: #F5F5F5;
}

.devTools {
    justify-content: center;
    margin: 30px 0 50px 0;
}

.devTools li {
    margin: 0 15px;
}

.devTools i {
    font-size: 2.5rem;
}

.dash {
    background: #999;
    cursor: pointer;
    height: 5px;
    width: 25px;
    display: inline-block;
    margin: 10px;
    transition: background 0.4s ease;
}

.dash:hover,
.dash:focus,
.dash:active,
.dashActive {
    background: #3DD2CC;
}

.toggleArrows {
    justify-content: space-between;
    position: absolute;
    top: 40%;
    width: 100%;
    z-index: 9;
}

.arrowLeft,
.arrowRight {
    font-size: 4rem;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.3s ease;
}

.arrowLeft:hover,
.arrowLeft:focus,
.arrowRight:hover,
.arrowRight:focus {
    color: #F5F5F5;
    animation: hoverArrow 1.5s infinite linear;
}

@keyframes hoverArrow {
    30% {
        transform: translateX(10%);
    }
}

.portfolio .scrollDown {
    margin-top: -150px;
}


/* ----------------------------- */
/*    Contact Section Styling    */
/* ----------------------------- */

.contact h3 {
    padding: 80px 0 60px 0;
}

.myInfo {
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
}

form {
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: 800px;
    z-index: 10;
}

.userInfo {
    display: flex;
    justify-content: space-between;
}

input,
textarea {
    background: #F5F5F5;
    border: none;
    border-bottom: 1px solid #3E6B89;
    color: #3E6B89;
    font-size: 0.8rem;
    margin-bottom: 20px;
    outline: none;
    padding: 10px;
}

input {
    width: calc(98% / 2);
}

.subject {
    width: 100%;
}

textarea {
    height: 160px;
    overflow: auto;
    resize: none;
    width: 100%;
}

form button {
    background: #3E6B89;
    border: none;
    color: #F5F5F5;
    cursor: pointer;
    padding: 12px 40px;
    transition: 0.3s;
}

form button:hover,
form button:focus {
    background: #3DD2CC;
    color: #3E6B89;
}

.contact .scrollUp {
    margin-top: -80px;
}


/* -------------------- */
/*    Footer Styling    */
/* -------------------- */

footer {
    background: #F5F5F5;
    padding: 10px 0;
}

footer p {
    font-size: 0.6rem;
}